<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- * Step 3 : <context:component-scan> -->
	
	<context:component-scan
		base-package="com.java.handson.spring_basics5" />

	<!-- Step 3 : <context:annotation-config> <context:annotation-config /> 
		
		<bean id="messenger" class="com.java.handson.spring_basics5.Messenger"></bean> 
		
		<bean id="smsMessageService" class="com.java.handson.spring_basics5.SmsMessageService"></bean> 
		
		<bean id="emailMessageService" class="com.java.handson.spring_basics5.EmailMessageService">
		
	</bean> -->

<!-- Step 4 : Using MessageSource To Get Text From Property Files -->
	<bean id="messageSource"
	class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames">
		<list>
			<value>mymessage5</value>
		</list>
	</property>
</bean>

</beans>