<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<context:component-scan
		base-package="com.java.handson.spring_data2" />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="org.apache.derby.jdbc.ClientDriver"></property>
		<property name="url" value="jdbc:derby://localhost:1527/db"></property>
		<property name="initialSize" value="2"></property>
		<property name="maxActive" value="5"></property>
	</bean>

	<!-- STEP 15 : Using Hibernate with Spring -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="" value="com.java.handson.spring_data1"></property>
		<property name="h"></property>
		<props>

		</props>
	</bean>


</beans>